body{
  background-color: rgb(106, 106, 106);
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
  color: #ffff;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-btn{
  background-color: rgb(84, 180, 84);
}
.add-btn:hover{
  background-color: rgb(0, 125, 0);
}
.delete-btn{
  background-color: rgba(155, 23, 23, 0.774);
}
.delete-btn:hover{
  background-color: rgb(210, 22, 125);
}
.move-btn{
  background-color: rgba(232, 119, 14, 0.871);
}
.move-btn:hover{
  background-color: rgba(232, 210, 14, 0.689);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 75%);
  border-bottom: 15px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}
.delete-btn, .move-btn{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}